& when (@structureStyle ='horizontalBorders') {

	.journal-description,
	.cmp_announcements,
	.current_issue,
	.entry_details .item,
	.issues_archive li,
	.additional_content {
		border-top: @bg-border;
	}

	.page_index_journal {
		.journal-description-above {
			border-top: none !important;
		}


		.cmp_announcements when (@descriptionTextState ='below') {
			border-top: none !important;
		}


		.cmp_announcements {
			margin-top: 0 !important;
			padding-top: @double  !important;
		}

		#main-content>div.homepage_image {
			padding-bottom: @triple  !important;
		}

		.current_issue {
			padding-bottom: 0 !important;
		}

		#main-content>div.current_issue>div.obj_issue_toc>div.sections {

			>div.section:last-child {
				margin-bottom: @triple  !important;
			}

			>div.section>ul>li {
				margin-bottom: @double  !important;

				.galleys_links {
					margin-top: @double  !important;
					margin-bottom: 0 !important;
				}
			}
		}

	}

	.page_issue {

		.galleys,
		.section {
			border-top: @bg-border;
			padding-top: @double;
		}

		.galleys {
			padding-bottom: 0 !important;
		}

		.published {
			padding-bottom: @triple;
		}

		.galleys_links {
			margin-bottom: 0 !important;
		}

		.articles li {
			margin-bottom: @base  !important;
		}
	}

	.page_article {

		.main_entry,
		.entry_details {
			border-top: @bg-border;
			padding-top: @double;
		}

		h1.page_title,
		h2.subtitle {
			padding-bottom: @double;
		}

		h2.subtitle {
			margin-top: -1px * @double;
		}

		.entry_details {
			.item {
				margin-top: 0;
				padding-top: @double;
			}

			.item:first-child {
				border-top: none;
				padding-top: @base;
				margin-top: 0 !important;
			}

			.galleys {
				padding-bottom: @base  !important;

				.galleys_links {
					margin-bottom: 0 !important;
				}
			}
		}

	}

	.page_issue_archive {
		.issues_archive {
			li:first-child {
				border-top: none !important;
			}

			li {
				margin-top: 0 !important;
				padding-top: @double  !important;
				padding-bottom: @triple  !important;
			}
		}
	}

	/*.page_announcements {
		.cmp_announcements {
			border: none !important;
		}
	}*/

	/*@media (min-width: 768px) {
		.obj_article_details .entry_details .item {
			border-bottom: 1px solid @contrastColour;
			margin-right: 0;
		}
	}*/

}

& when (@structureStyle ='fullBorders') {


	.page {
		border-left: @bg-border;
		border-right: @bg-border;


		.cmp_breadcrumbs {
			//border-bottom: @bg-border;
			//border-top: 0;
			padding: @double;
			padding-top: @triple;
			padding-bottom: 0;
			margin-top: 0;
		}

		.cmp_edit_link {
			padding: @base @double @double @double;
		}
	}

	.page_index_journal {

		border-left: @bg-border;
		border-right: @bg-border;

		.homepage_image,
		.journal-description,
		.cmp_announcements,
		.current_issue,
		.additional_content {
			//border-top: @bg-border;
			border-bottom: @bg-border;
			padding: @double;
		}

		.additional_content {
			border: none;
		}
	}

	.page_issue {


		.cmp_breadcrumbs,
		.cover,
		//.description,
		.pub_id,
		.published,
		.section,
		.galleys {
			//border-top: @bg-border;
			border-bottom: @bg-border;
			padding: @double;
		}

		.cover {
			border-right: @bg-border;
		}

		.description {
			padding: @double;
		}

		.galleys {
			border-top: @bg-border;
			border-bottom: none;
		}

		.published,
		.cover {
			border-bottom: none;
		}

		/*.cmp_breadcrumbs {

			padding-bottom: 0
		}*/

		//.cmp_breadcrumbs,
		.pub_id {
			margin-top: 0;
			padding-top: @triple;
		}

		.pub_id {
			padding-bottom: 0;
			border-bottom: none;
		}

		.obj_issue_toc .sections {
			margin-top: 0;

			.section {
				border-top: @bg-border;
				border-bottom: none;
			}

			/*.section:first-child {
				margin-top: 0;
			}

			.section:last-child {
				border-bottom: none;
			}*/
		}
	}

	.page_article {

		.obj_article_details {

			.page_title,
			.subtitle,
			.main_entry,
			.entry_details {
				//border-bottom: @bg-border;
				//border-top: none;
				padding: @double;
				margin-top: 0;
				margin-bottom: 0;
			}

			.subtitle {
				padding-top: none;
			}

			.main_entry,
			.entry_details {
				border-top: @bg-border;
			}

			.main_entry {
				border-right: @bg-border;
				border-bottom: none;
			}

			.row .entry_details {
				padding: 0;
				padding-left: 0;
				border-bottom: none;

				.item {
					border-bottom: @bg-border;
					padding: @double;
					margin: 0;
				}

				.item:last-child {
					border-bottom: none;
				}
			}
		}
	}

	.page_issue_archive {
		border-left: @bg-border;
		border-right: @bg-border;

		.cmp_breadcrumbs {
			//border-bottom: @bg-border;
			padding: @double;
			padding-top: @triple;
			margin-top: 0;
			margin-bottom: 0;
		}

		.issues_archive {
			li {
				border-bottom: @bg-border;
				padding: @double;
				padding-top: @triple;
				margin: 0;

			}

			li:last-child {
				border-bottom: none;
			}
		}

		.cmp_pagination {
			padding: @double;
			padding-bottom: @triple;
			margin: 0;
		}
	}



	.page_submissions {
		div {
			padding: 0 @double;
		}

		.cmp_notification {
			width: 90% !important;
			margin: @double @quadruple  !important;
			//padding: 0 @quadruple  !important;
		}

		.submission_checklist {
			ul {
				margin: @double @quadruple @base @quadruple;
			}
		}

		.privacy_statement_wrapper {
			padding-left: 0;
		}
	}

	/*
	.page_editorial_team {
		.editorial_team_wrapper {
			padding: 0 @double;
		}
	}

	.page_privacy {
		.privacy_statement_wrapper {
			padding: 0 @double;
		}
	}

	.page_contact {
		.contact_section {
			padding: 0 @double;
		}
	}*/

	.page_announcements {
		>p {
			padding-left: @double;
			padding-right: @double;
		}

		.cmp_announcements {
			margin: 0;

			li {
				border-top: @bg-border;
				padding: @double;
			}

			li:first-child {
				border-top: none !important;
			}
		}
	}

	.page_announcement {
		border-left: @bg-border;
		border-right: @bg-border;

		.obj_announcement_full {
			padding: @double;
		}
	}

	.page_custom {
		padding: @double  !important;
	}

	.page_search {
		.cmp_form {
			padding: 0 @double;
		}

		.cmp_notification {
			width: 90% !important;
			margin: @double @quadruple  !important;
			//padding: 0 @quadruple  !important;
		}
	}
}

@media screen and (max-width: @screen-tablet) {
	.pkp_structure_sidebar {
		border-left: @bg-border;
		border-right: @bg-border;

		padding: 0 !important;

		.pkp_block {
			border-top: @bg-border;
			padding-left: @base  !important;
			padding-right: @base  !important;
		}
	}
}
